*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "CompagnonLight";
}

.ergebniss{
	height: 10vh;
	display: none;
}

.Versuch{
	display: flex;
	height: 10vh;
	z-index: 1;
	justify-content: center;
}

.Aufgabeversuch{
	display: flex;
}
